@{
    Layout = "_Layout1";
}

<html>
<body style="overflow-x: hidden;margin-top:50px">
    <div class="text-center" style=" background: url(/img/ActionHome.png);height:1017px">
        <div class="row">
            <div class="text-center col-12" style="margin-top: 15%">
                <img class="animated fadeInDown" src="~/img/白意界.png" height="100" />
                <h1 class="animated fadeInDown text-white"><span>YiCraftCore 意界核心</span></h1>
                <p class="animated fadeInUp delay-1 text-white">一个我的世界老牌服务器-开服时间长达：<em>8年</em></p>
                <a class="px-4 py-3 bg-primary animated fadeInDown btn btn-primary text-white" href="/Login/Index">开启意界之旅</a>
            </div>
        </div>



    </div>
</body>
</html>

