
@{
    Layout = "_Layout";
}



<div class="container-fluid mt-4">
    <div class="col align-items-center">
        <div class="jumbotron center-block text-center">
            <h2>YiCraftCore白名单审核共2个部分</h2>
            <h3>即将进行第一部分</h3>
            <h3>请注意：接下来将有10道题目</h3>
            <h3>你必须全部答对</h3>
            <a href="/Question/Questionlist">开始答题</a>
        </div>
    </div>
</div>


